#top{
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0px;
    text-align: center;
    background-color:  rgb(230, 157, 63);
    margin: 0px;

}
div#takePosition{
    height: 256px;
}
#addButton{
    position: fixed;
    width: 85px;
    right: 40px;
    top: 40px;
}
div.period{
    height: 105px ;
    width: 100%;
    position: fixed;
    top: 149px;
    background-color:rgb(230, 157, 63) ;
    margin: 0px;

}
p.period{
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 40px;
    padding: 7px;
    background-color:rgb(230, 157, 63);
    border-radius: 30px;
}

.period.focusSpot{
    background-color: aliceblue;
}
#habits{
    
    width: 100%;
}
.habit{
    width: 93%;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgb(179, 214, 24);
    border: rgb(224, 25, 158) 5px solid;
    
}

.hidden{
    display: none;
}
div.duration{
    float: right;
    margin-right: 70px;
    
    width: 200px;
    height: 200px;
    text-align: right;
}
img.habitsIcon{
    margin-left:60px;
    margin-top: 30px;
    width: 150px;
}
div.theNameOfHabit{
    display: inline-block;
    width: 300px;
    
}
p.theNameOfHabit{
    float:left;
    font-size: 50px;
    font-weight: bold;
    margin-block-start: 0px;
    margin-bottom: 40px;
}






div#tabColumn{
    position: fixed;
    width: 100%;
    height: 160px;
    background-color: burlywood;
    bottom: 0px;
}
div#today,#allHabits,#more {
    display:inline-block;
    text-align: center;
    width: 33%;
    margin: 0px;
}


div#today img,#allHabits img,#more img{
    width: 100px;
}
div#today p,#allHabits p,#more p{
    font-size: 35px;
    text-align: center;
    margin-block-start: 0px;
    color: black;
    text-decoration: none;
}

a,a:hover{
    text-decoration: none;
}







body {
    margin: 0px;
    background-color: cornsilk;
    border: 0px;
    padding: 0px;
}
