div#top {
  width: 100%;
  height: 150px;

  margin: 0px;
  position: fixed;
  background-color: rgb(230, 157, 63);
  top: 0px;
  text-align: center;
}
div#takePosition {
  height: 150px;
}
img#share {
  width: 90px;
  position: fixed;
  left: 50px;
  top: 30px;
}
img#hide {
  width: 100px;
  position: fixed;
  right: 50px;
  top: 30px;
}
input#search {
  width: 450px;
  height: 80px;
  margin-top: 35px;
  font-size: 40px;
  font-weight: lighter;
  border-radius: 30px;
  padding-left: 150px;
}
#searchIcon {
  position: fixed;
  width: 55px;
  left: 260px;
  top: 54px;
}

.clockInTiles {
  width: 98%;
  margin-top: 20px;
  margin-left: 10px;
}
div.period {
  height: 90px;
  width: 100%;
}
p.period {
  display: inline-block;

  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 40px;
  padding: 15px;
  background-color: darksalmon;
  border-radius: 30px;
}
img.foldButton {
  float: right;
  width: 75px;
  margin-right: 60px;
  margin-top: 15px;
}
img.foldedStatusButton {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
img.unfoldedStatus {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
div.habits {
  margin-left: 10px;
  width: 100%;
  margin-top: 20px;
  max-height: 2000px;
  opacity: 1;
  transition-property: max-height, opacity;
  transition-duration: 0.5s, 0.3s;
  transition-delay: 0s, 0s;
}
.habits.folded {
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
}
div.habits.unfolded {
  max-height: 2000px;
}
div.habit {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 10px;
}
p.nameOfHabit {
  font-size: 50px;
  margin: 0px;
}
p.duration {
  font-size: 25px;
  margin-top: 5px;
}
img.theIconOfHabit {
  margin-top: 30px;
  background-color: rgb(252, 252, 252);
  border-radius: 130px;
  border: solid 5px;
  border-color: darkgoldenrod;
  width: 160px;
  transition: transform 1s 0s, background-color 0.5s ease 0.5s;
}
.theIconOfHabit.clockedIcon {
  transform: rotateY(360deg);
  background-color: darkgreen;
}
.theIconOfHabit.unclockedIcon {
  background-color: rgb(252, 252, 252);
}

div#popoutlayer {
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 100px;
  position: fixed;
}
div#popouttile {
  border-radius: 30px;
  width: 600px;
  height: 900px;
  position: fixed;
  background-color: white;
}
div#popouttile_top {
  background-color: yellowgreen;
}
.hidden {
  display: none;
}

div#tabColumn {
  position: fixed;
  width: 100%;
  height: 160px;
  background-color: burlywood;
  bottom: 0px;
}
div#today,
#allHabits,
#more {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin: 0px;
}

div#today img,
#allHabits img,
#more img {
  width: 100px;
}
div#today p,
#allHabits p,
#more p {
  font-size: 35px;
  text-align: center;
  margin-block-start: 0px;
  color: black;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

body {
  margin: 0px;
  background-color: cornsilk;
  border: 0px;
  padding: 0px;
}
p {
  margin-block-start: 0px;
}
